@import '../variables';

.prices {
  margin-bottom: 16px;

  border-top: 1px solid $shadowColor;

  @media screen and (min-width: 426px) {
    margin-bottom: 24px;

    &__table {
      display: table;
      width: calc(100% - 60px);
      margin-left: auto;
      margin-right: auto;

      font-size: 14px;

      border-collapse: collapse;

      thead {
        font-weight: 700;
        color: #7e7e82;
        text-align: left;
      }

      tbody {
        background-color: #fff;
        border-left: 16px solid #fff;
        border-right: 16px solid #fff;
        border-radius: 6px;

        .prices__t-row {
          border-bottom: 1px solid #eaeaea;

          &:last-child {
            border-bottom: none;
          }
        }

        @media screen and (min-width: 426px) {
          display: table-row-group;
        }
      }
    }

    &__t-cell {
      padding-top: 23px;
      padding-left: 1px;
      padding-bottom: 23px;

      &:nth-child(4) {
        padding-right: 3px;
        text-align: right;
      }
    }

    &__btn {
      margin-left: auto;
    }
  }

  @media screen and (max-width: 425px) {
    &__table {
      display: block;
      padding-left: 8px;
      padding-right: 8px;
      margin-bottom: 16px;

      background-color: transparent;

      overflow: hidden;

      tbody {
        display: flex;
      }

      thead {
        display: none;
      }
    }

    &__t-row {
      position: relative;

      display: flex;
      flex-direction: column;
      justify-content: space-between;
      flex-shrink: 0;
      width: 260px;
      min-height: 200px;
      padding: 16px;
      margin-right: 16px;

      background-color: #fff;
      border-radius: 6px;
    }

    &__t-cell {
      display: block;

      font-size: 14px;
      line-height: 18px;
      letter-spacing: 0.2px;

      &:nth-child(1)::before {
        content: 'Ремонтные услуги';

        display: block;
        margin-bottom: 4px;

        font-weight: 700;
        font-size: 14px;
        line-height: 16px;
        color: #7e7e82;
      }

      &:nth-child(2)::before {
        content: 'Цена';

        display: block;
        margin-bottom: 4px;

        font-weight: 700;
        font-size: 14px;
        line-height: 16px;
        color: #7e7e82;
      }

      &:nth-child(3)::before {
        content: 'Срок';

        display: block;
        margin-bottom: 4px;

        font-weight: 700;
        font-size: 14px;
        line-height: 16px;
        color: #7e7e82;
      }

      &:last-child {
        position: absolute;
        right: 16px;
        bottom: 16px;
      }
    }

    &__btn {
      position: absolute;
      bottom: 0;
      right: 0;
    }
  }

  &__title {
    padding: 16px;
    margin-top: 0;
    margin-bottom: 16px;

    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: -0.2px;
    color: #7e7e82;

    background-image: linear-gradient(to right, #f8f8f8, #ffffff);

    @media screen and (min-width: 321px) {
      padding: 16px 24px;
      margin-bottom: 8px;
    }
  }
}
