@import '../variables';

.page-header {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 18.59px 16px;

  box-shadow: inset 0 -1px 0 $shadowColor;

  @media screen and (min-width: 540px) {
    padding: 8px 24px;
  }

  @media screen and (min-width: 1120px) {
    display: none;
  }

  &__burger {
    margin-right: 16px;

    @media screen and (min-width: 426px) {
      margin-right: 20px;
    }
  }

  &__logo {
    display: flex;
    align-items: center;
    margin-right: auto;

    @media screen and (min-width: 426px) {
      &::before {
        content: '';

        display: block;
        width: 2px;
        height: 32px;
        margin-right: 20px;

        background-color: $separatorColor;
      }
    }
  }

  &__socials {
    display: none;
    margin-left: 20px;

    @media screen and (min-width: 540px) {
      display: flex;
      justify-content: flex-end;
    }
  }

  &__user-menu {
    margin: 0;
    margin-left: 16px;

    &::before {
      content: '';

      display: block;
      width: 2px;
      height: 32px;

      background-color: $separatorColor;
    }

    @media screen and (min-width: 426px) {
      margin-left: 4px;
    }
  }
}
